/*Ten rule sets in total; 1 type, 1 class, 1 ID, 1 attribute,
    modifying both the layout and typography*/

    a[href*="https"]{
        color: red;
    }
    main {
        font-family: sans-serif;
    }

    h1 { 
        font-weight: bold;
    }

    #navigation li {
        list-style-type: none;
    }

    #navigation a {
        text-decoration: none;
    }

    #navigation a:hover {
        font-style: italic;
    }

    .blogtitle {
        font-style: italic;
    }

    article {
        background-color: lightgray;
    }