/*Ten rule sets in total; 1 type, 1 class, 1 ID, 1 attribute,
    modifying both the layout and typography*/

    a[href*="https"]{
        color: #33535a;
        text-decoration: none;
        font-weight: bolder;
    }

    a[href*="https"]:hover{
        color: lightsteelblue;
    }

    h1 { 
        font-weight: bold;
        font-family: sans-serif;
        font-size: 3em;
        margin: 0px;
        padding: 0px;
    }

    .logo {
        float: left;
        margin-bottom: 50px;
        margin-right: 50px;
    }

    .byline{
        margin: 0px;
        padding: 0px;
    }

    #navigation li {
        list-style-type: none;
        float: inherit;
        font-size: 1.5em;
    }

    #navigation a {
        text-decoration: none;
        float: inherit;
    }

    #navigation a:hover {
        font-style: italic;
        color: #33535a;
        float: inherit;
    }

    #navigation a:visited {
        color: lightgray;
        float: inherit;
    }

    .blogtitle {
        font-style: italic;
    }

    article {
        background-color: lightgray;
        margin: 10px;
        padding: 50px;
        border-color: #33535a;
        border-width: 20px;
        border-top-style: solid;
    }

    article img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 10px;
        margin-bottom: 0px;
        border-color: #33535a;
        border-width: 10px;
        border-style: solid;
    }
    .coffeetable{ 
        border-width: 10px;
        border-color: #21505a;
        border-style: solid;
        padding: 10px;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }

    .coffeetable td{ 
        padding-right: 20px;
    }

   main {
       margin-left: auto;
       margin-right: auto;
       width: 75%;
       padding: 1em;
       background-color: lightgray;
       border-color: #33535a;
       border-width: 20px;
       border-style: solid;
       position: relative;
       top: 20px;
   }

   h2 {
       color: #33535a;
       font-size: 2.5em;
       font-style: italic;
   }

   form {
       margin: 10px;
   }

   body {
       background-color: lightslategray;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   header {
       color: lightgray;
   }

   #signup {
       text-align: center;
       padding-top: 20px;
       padding-bottom: 20px;
       color: lightgray;
   }
   .headshot {
       float: left;
       width: 10%;
       margin-right: 15px;
       margin-bottom: 10px;
   }

   .favoritethings li{
       padding-left: 15px;
   }