/*Ten rule sets in total; 1 type, 1 class, 1 ID, 1 attribute,
    modifying both the layout and typography*/

    a[href*="https"]{
        color: darkslateblue;
        text-decoration: none;
        text-weight: bolder;
    }

    main {
        font-family: sans-serif;
    }

    h1 { 
        font-weight: bold;
    }

    #navigation li {
        list-style-type: none;
    }

    #navigation a {
        text-decoration: none;
    }

    #navigation a:hover {
        font-style: italic;
    }

    .blogtitle {
        font-style: italic;
    }

    article {
        background-color: lightgray;
        margin: 40px 10px 40px 10px;
        padding: 50px;
    }

    .coffeetable{ 
        border-width: 5px;
        border-color: darkslateblue;
        border-style: solid;
        padding: 10px;
        margin: 20px;
    }

    .coffeetable td{ 
        margin: 5px;
    }